$blur-degree:3px;
.dropdown-menu-light {
  // background-color: rgba(0, 0, 0, 0.4) !important;
  background-color: rgba(245, 244, 244, 0.85) !important;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3) !important;
}
.dropdown-menu {
  backdrop-filter: blur($blur-degree) !important;
  -webkit-backdrop-filter: blur($blur-degree) !important;
}
@import '~bootstrap/scss/bootstrap.scss';